<div id="detail">
	<div id="daohang">
		<h1 ng-click="detailCtrl.goBack()"><</h1>
		<p>客户端新用户 来领券啦！</p>
		<span>…</span>
	</div>
	<!--内容-->
	<div id="neirong">

	<div id="lingquan">
		<img src="img/xrlm1.jpg"/>
	</div>
	<div id="lingquanqian">
		<img src="img/xrlm2.jpg"/>
	</div>
	<div id="liji">
		<img src="img/xrlm3.jpg"/>
	</div>
	<div id="shuoming">
		<p>优惠券说明:</p>
		<ol>
			<li>1.优惠券领取时间：2016年12月29日-2017年2月28日；优惠券有效期：2016年12月29日-2017年2月28日，过期作废；</li>
			<li>2.本券仅限网酒网新注册用户可领取，首次使用网酒网客户端（包括IOS端及安卓端）下单可用;</li>
			<li>3.本优惠券面额10元，仅限新用户首次在网酒网APP下单满59元可用</li>
			<li>4.本优惠券面额10元，仅限新用户首次在网酒网APP下单满59元可用</li>
			<li>5.本优惠券面额10元，仅限新用户首次在网酒网APP下单满59元可用</li>
			<li>6.每个ID仅限领取一张； </li>
			<li>7.每个ID仅限领取一张； </li>
			<li>8.更多活动详情请致电客服电话：4000-519-519。</li>
		</ol>
		
	</div>
	
	<div id="xiazai">
		<img src="img/xrlm4.png"/>
	</div>
</div>
</div>