<div id="home">
			
		<!--搜索框-->
		<div id="homessk">
			<div class="home_zong"></div>
			<div class="home_logo">
				
				<a href=""><img src="img/k02.png"/></a>
			</div>
			<div class="home_input">
				<input type="text"  value="搜索商品"/>
				<!--<a href="">搜索商品</a>-->
			</div>
		</div>
		
		<!--轮播图-->
	<div id="homelb">
		<div class="swiper-container">
		    <div class="swiper-wrapper">
		        <a class="swiper-slide" href="###" ng-repeat="obj in homeCtrl.getUserList">
		        	<img ng-src= {{obj.lunbo_url}}>
		        </a>
		        <!--<a class="swiper-slide"><img src="http://img3.wangjiu.com/ad/20170120/default/1484882632479600"></a>
		        <a class="swiper-slide"><img src="img/img(3).jpg" alt="img/img(3).jpg"></a>-->
		    </div>	
		    <!-- 如果需要分页器 -->
		    <div class="swiper-pagination"></div>
		    
		    <!-- 如果需要导航按钮 -->
		    <div class="swiper-button-prev"></div>
		    <div class="swiper-button-next"></div>
		    
		    <!-- 如果需要滚动条 -->
		    <!-- <div class="swiper-scrollbar"></div> -->
		</div>
	</div>	
		<!--新人领券-->
		<div id="home_newPeople">
			<a class="home_coupons" href="#/detail"><img src="img/xr1.gif"/>新人领券</a>
			<a class="home_coupons" href="#/detail"><img src="img/xr2.gif"/>限时秒抢</a>
			<a class="home_coupons"><img src="img/xr1.gif"/>拼手气</a>
			<a class="home_coupons"><img src="img/xr2.gif"/>乐视美酒</a>
		</div>
		
		<!--限时闪购-->
		<div id="home_contain">
			<a href="" class="home_contain_a1"><img src="img/sg1.jpg"/></a>
			<a href="" class="home_contain_a2"><img src="img/sg2.jpg"/></a>
			<a href="" class="home_contain_a2"><img src="img/sg2.jpg"/></a>
			<a href="" class="home_contain_a2"><img src="img/sg2.jpg"/></a>
			<a href="" class="home_contain_a2"><img src="img/sg2.jpg"/></a>
		</div>
		<!--送礼必备-->
		<div id="home_stage">
			<a href="" class="home_stage_banner"><img src="img/stage.jpg"/></a>
			<div class="home_stage_menu">
				<a href=""><img src="img/stage2.jpg"/></a>
				<a href=""><img src="img/stage2.jpg"/></a>
				<a href=""><img src="img/stage2.jpg"/></a>
			</div>
		</div>
		
		<!--名庄优选-->
		<div id="home_floor">
			<a href="" class="home_floor_banner"><img src="img/mingzhuang.jpg"/></a>
			<div class="home_floor_menu">
				<div class="home_floor_menu1">
					<div class="swiper-container" >
				 	<div class="swiper-wrapper">
				 	<div class="swiper-slide">
				 		<div class="home_floor_zong" >
							<a href="" class="home_floor_a"><img src="img/mztx.jpg"/>
							<p>佳得美庄园副牌</p>
							<span>￥109.00</span>
							</a>
						</div>
					</div>	
					<div class="swiper-slide">
				 		<div class="home_floor_zong" >
							<a href="" class="home_floor_a"><img src="img/mztx.jpg"/>
							<p>佳得美庄园副牌</p>
							<span>￥109.00</span>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
				 		<div class="home_floor_zong" >
							<a href="" class="home_floor_a"><img src="img/mztx.jpg"/>
							<p>佳得美庄园副牌</p>
							<span>￥109.00</span>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
				 		<div class="home_floor_zong" >
							<a href="" class="home_floor_a"><img src="img/mztx.jpg"/>
							<p>佳得美庄园副牌</p>
							<span>￥109.00</span>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
				 		<div class="home_floor_zong" >
							<a href="" class="home_floor_a"><img src="img/mztx.jpg"/>
							<p>佳得美庄园副牌</p>
							<span>￥109.00</span>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
				 		<div class="home_floor_zong" >
							<a href="" class="home_floor_a"><img src="img/mztx.jpg"/>
							<p>佳得美庄园副牌</p>
							<span>￥109.00</span>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
				 		<div class="home_floor_zong" >
							<a href="" class="home_floor_a"><img src="img/mztx.jpg"/>
							<p>佳得美庄园副牌</p>
							<span>￥109.00</span>
							</a>
						</div>
					</div>
					</div>
					</div>			
				</div>
			</div>		
		</div>
		
	<!--白酒典范-->
		<div id="home_floor">
			<a href="" class="home_floor_banner"><img src="img/baijiu.jpg"/></a>
			<div class="home_floor_menu">
				<div class="home_floor_menu1">
					<div class="swiper-container" >
				 	<div class="swiper-wrapper">
				 	<div class="swiper-slide">
				 		<div class="home_floor_zong" >
							<a href="" class="home_floor_a"><img src="img/baijiu1.jpg"/>
							<p>洋河海之蓝</p>
							<span>￥129.00</span>
							</a>
						</div>
					</div>	
					<div class="swiper-slide">
				 		<div class="home_floor_zong" >
							<a href="" class="home_floor_a"><img src="img/baijiu1.jpg"/>
							<p>洋河海之蓝</p>
							<span>￥129.00</span>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
				 		<div class="home_floor_zong" >
							<a href="" class="home_floor_a"><img src="img/baijiu1.jpg"/>
							<p>洋河海之蓝</p>
							<span>￥129.00</span>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
				 		<div class="home_floor_zong" >
							<a href="" class="home_floor_a"><img src="img/baijiu1.jpg"/>
							<p>洋河海之蓝</p>
							<span>￥129.00</span>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
				 		<div class="home_floor_zong" >
							<a href="" class="home_floor_a"><img src="img/baijiu1.jpg"/>
							<p>洋河海之蓝</p>
							<span>￥129.00</span>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
				 		<div class="home_floor_zong" >
							<a href="" class="home_floor_a"><img src="img/baijiu1.jpg"/>
							<p>洋河海之蓝</p>
							<span>￥129.00</span>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
				 		<div class="home_floor_zong" >
							<a href="" class="home_floor_a"><img src="img/baijiu1.jpg"/>
							<p>洋河海之蓝</p>
							<span>￥129.00</span>
							</a>
						</div>
					</div>
					</div>
					</div>			
				</div>
			</div>		
		</div>
<!--热卖推荐-->
<div id="home_milkxf">
	<ul class="home_xfrm">
		<li><h2>热卖推荐</h2></li>
	</ul>
</div>
<!--热卖推荐下图片-->
<div id="home_rmtj">
	<ul class="home_rmtjtp">
		<li ng-repeat="objRm in homeCtrl.getRemai">
		<a href="#/remaixq" class="homermtj_banner">
			<!--<img src="img/rmtj.jpg"/>-->
			<img ng-src= {{objRm.rm_url}}>
			<!--<p class="homermtj_p1">干露鬼脸佳美娜红葡萄酒2015*6</p>-->
			<p class="homermtj_p1">{{ objRm.rm_ms}}</p>
			<p class="homermtj_p2">{{ objRm.rm_jg | currency:"￥"}}</p>
		</a>
		</li>
		<!--<li>
			<a href="" class="homermtj_banner">
			<img src="img/rmtj.jpg"/>
			<p class="homermtj_p1">干露鬼脸佳美娜红葡萄酒2015*6</p>
			<p class="homermtj_p2">￥159.00</p>
		</a>
		</li>-->
	</ul>
</div>
<div id="home_zuihou">
	<p>没有更多了……</p>
</div>

		
		
		
		
		
		
		
		
		
		
		
		
		

	</div>
		


