<div class="market">
	<div id="market_ssk">
		<input type="text"  />
		<img src="img/market.png"/>
	</div>
<div id="supermarket_zong">
	<div id="supermarket_daohang">
		<div class="supermarket_dh1">
			<ul class="supermarket_dhbt">
				<li>
					<div class="supermarket_rx">天天特价</div>
				</li>
				<li>
					<div class="supermarket_rx">优选水果</div>
				</li>
				<li>
					<div class="supermarket_rx">牛奶面包</div>
				</li>
				<li>
					<div class="supermarket_rx">饮料酒水</div>
				</li>
				<li>
					<div class="supermarket_rx">天天特价</div>
				</li>
				<li>
					<div class="supermarket_rx">优选水果</div>
				</li>
				<li>
					<div class="supermarket_rx">牛奶面包</div>
				</li>
				<li>
					<div class="supermarket_rx">饮料酒水</div>
				</li>
				<li>
					<div class="supermarket_rx">天天特价</div>
				</li>
				<li>
					<div class="supermarket_rx">优选水果</div>
				</li>
				<li>
					<div class="supermarket_rx">牛奶面包</div>
				</li>
				<li>
					<div class="supermarket_rx">饮料酒水</div>
				</li>
				<li>
					<div class="supermarket_rx">优选水果</div>
				</li>
				
			</ul>
		</div>
		
		<div class="supermarket_nr1">

			<ul class="supermarket_ul">
				<li>
					<div class="supermarket_tp">
						<img src="img/erye.jpg"/>
					</div>
					<div class="supermarket_wz">
						<h3>爱鲜蜂·砂糖橘</h3>
						<span class="supermarket_jx">精选</span>
						<p class="supermarket_qg">750-1050g 3粒/袋</p>
						<span class="supermarket_yhj">¥17.8</span>
						<span class="supermarket_yj">¥25.8</span>
						<span class="imgjia">+</span>
					</div>							
				</li>
				<li>
					<div class="supermarket_tp">
						<img src="img/erye.jpg"/>
					</div>
					<div class="supermarket_wz">
						<h3>爱鲜蜂·砂糖橘</h3>
						<span class="supermarket_jx">精选</span>
						<p class="supermarket_qg">750-1050g 3粒/袋</p>
						<span class="supermarket_yhj">¥17.8</span>
						<span class="supermarket_yj">¥25.8</span>
						<span class="imgjia">+</span>
					</div>
				</li>
				<li>
					<div class="supermarket_tp">
						<img src="img/erye.jpg"/>
					</div>
					<div class="supermarket_wz">
						<h3>爱鲜蜂·砂糖橘</h3>
						<span class="supermarket_jx">精选</span>
						<p class="supermarket_qg">750-1050g 3粒/袋</p>
						<span class="supermarket_yhj">¥17.8</span>
						<span class="supermarket_yj">¥25.8</span>
						<span class="imgjia">+</span>
					</div>
				</li>
				<li>
					<div class="supermarket_tp">
						<img src="img/erye.jpg"/>
					</div>
					<div class="supermarket_wz">
						<h3>爱鲜蜂·砂糖橘</h3>
						<span class="supermarket_jx">精选</span>
						<p class="supermarket_qg">750-1050g 3粒/袋</p>
						<span class="supermarket_yhj">¥17.8</span>
						<span class="supermarket_yj">¥25.8</span>
						<span class="imgjia">+</span>
					</div>
				</li>
				<li>
					<div class="supermarket_tp">
						<img src="img/erye.jpg"/>
					</div>
					<div class="supermarket_wz">
						<h3>爱鲜蜂·砂糖橘</h3>
						<span class="supermarket_jx">精选</span>
						<p class="supermarket_qg">750-1050g 3粒/袋</p>
						<span class="supermarket_yhj">¥17.8</span>
						<span class="supermarket_yj">¥25.8</span>
						<span class="imgjia">+</span>
					</div>
				</li>
				
		
			</ul>
			
		</div>
	</div>	
</div>
	
	
</div>