<div id="mine">  
	  <div class="i_head"><img src="img/134-134.jpg" id="image_src"></div>
	  <div class="i-wz">
	  	<div class="name0"><!-- <img src="img/c_l_01.png"> -->见习骑士</div>
	  	<div class="name1"><p>河北乐迷</p></div>
	  	<ul>
	  		<li>余额:0</li>
	  		<li>积分:0</li>
	  		<li>成长值:0</li>
	  	</ul>
	  </div>	
	 </div>
	 <ul class="i-cd">
	 	<li><img src="img/m01.png"><p>待支付</p></li>
	 	<li><img src="img/m02.png"><p>待收货</p></li>
	 	<li><img src="img/m04.png"><p>退款/退货</p></li>

	 </ul>
	 <div class="clear"></div>
	 <div class="qbdd">
	 	全部订单 <a href="">查看全部订单></a>
	 </div>
	 <div class="cfdd">
	 	充返订单 <a href="">查看全部订单></a>
	 </div>
	 <div class="mine_wrap clear">
    <ul class="b_list">
        <li><a href=""><img src="img/m05.png">我的收藏<div class="r_slip"></div></a></li>
        <li><a href=""><img src="img/m06.png">VIP帐户<div class="r_slip"></div></a></li>
        <li><a href=""><img src="img/m07.png">礼品卡<div class="r_slip"></div></a></li>
        <li><a href=""><img src="img/m08.png">提货卡<div class="r_slip"></div></a></li>
        <li><a href=""><img src="img/m09.png">优惠券<div class="r_slip"></div></a></li>
        <li><a href=""><img src="img/m20.png">会员俱乐部<div class="r_slip"></div></a></li>
        <li><a href=""><img src="img/m10.png">个人管理<div class="r_slip"></div></a></li>
    </ul>
    </div>
    <div class="hh"></div>
