<div id="remaixq" >
	<div id="daohang">
		<h1 ng-click="remaixqCtrl.goBack()"><</h1>
		<p>
			<a href="">商品</a>
			<a href="">详情</a>
			<a href="">评价</a>
		</p>
		<span>…</span>
	</div>
	<div class="rmtp">
		<img src="img/mztx.jpg"/>	
	</div>
	<div class="daojishi">
		<h1>倒计时</h1>
	</div>
	<!--详情介绍-->
	<div class="aricle">
		<div class="aricle_zy">
			<p class="aricle1">自营</p>
			<p class="aricle2">【名庄】丽冠巴顿庄园正牌干红葡萄酒 2012</p>
		</div>
		<p class="aricle3">Chateau Langoa Barton 2012</p>
		<p class="aricle4">更为阴柔亲切，优雅与精致并存。</p>
		<div class="aricle5">￥399.00</div>
	</div>
	<!--商品信息-->
	<div class="spxq">
		<p>商品信息</p>
		<p> > </p>
	</div>
	<!--选择数量-->
	<div class="shuliang">
		<p>选择数量</p>
		<div class="fuhao">
			<p class="fuhao1">-</p>
			<input type="text" value="1" />
			<p class="fuhao2">+</p>
		</div>
	</div>
	<!--送货地址-->
	<div class="dizhi">
		<a href=""><p class="songhuo">送货至</p></a>
		<div class="dzxx">
			<span>北京市 北京市 西城区</span>
			<p>有货  由网酒网发货,并提供售后服务</p>
		</div>
		<p> > </p>
	</div>
	<!--商品评价-->
	<div class="sppj">
		<p>商品评价(17)</p>
		<p> 查看全部> </p>
	</div>
	
	
	<!--点击查看商品详情-->
	<div class="chakan">
		<ul class="chakanms">
			<li><h2>点击查看商品详情</h2></li>
		</ul>
	</div>
	
	<!--底部-->
	<div class="dibu">
		<ul class="dibutp">
			<li class="dibutp1"><a href="" >收藏</a></li>
			<li class="dibutp1"><a href="" >客服</a></li>
			<li class="dibutp1"><a href="" >购物车</a></li>
			<li class="dibutp2"><a href="" class="dibutp2">加入购物车</a></li>
		</ul>		
	</div>
	

</div>
